.profile-intro-layout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
    border-radius: 10px;
}