.collectionPage-layout {
    width: 100%;
    padding: 50px;
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
}

.collectionPage-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
}

.collectionPage-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

@media (max-width: 430px) {
    .collectionPage-list {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;
        height: 100%;
    }
}
