// flex flex-col justify-start items-start w-[230px] h-[430px]
//          text-gray-400  rounded-md overflow-hidden bg-black duration-200 hover:scale-95

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 230px;
    height: 430px;
    color: gray;
    border-radius: 10px;
    overflow: hidden;
    background-color: black;
    transition-duration: 200ms;
}

.card:hover {
    scale: 95%;
}

.card:focus {
    scale: 95%;
    outline: none;
}

.card-text-container {
    padding: 16px;
    height: 112px;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
}